<ion-view view-title="登陆" hide-back-button="true">
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button  back-button button-icon ion-ios-arrow-back button-clear" ng-click="$ionicGoBack()"></button>-->
  <!--</ion-nav-buttons>-->

  <!--</ion-nav-bar>-->

  <ion-content scroll="false" class="login_content">

    <div class="login_content_div">
      <div class="text-center">
        <h2 style="color: rgba(70,68,68,.7)">物流配送货主端</h2>
      </div>
      <div class="list">
        <ion-md-input placeholder="手机号码" highlight-color="balanced" type="tel" ng-model="user.user.username"></ion-md-input>
        <ion-md-input placeholder="密码" highlight-color="energized" type="password" ng-model="user.user.password"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-full button-assertive" ng-click="user.signin(1)">登陆</button>
        <button ui-sref="menu.register" class="button button-full button-balanced">注册</button>
      </div>
    </div>

    <!--<div class="button-bar social-login">-->
    <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>-->
    <!--<button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>-->
    <!--<button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>-->
    <!--</div>-->
  </ion-content>
</ion-view>
