<ion-view hide-tabs hide-back-button="false">

  <ion-nav-title>2016-04-18</ion-nav-title>

  <ion-content>
    <!-- 菊花加载 -->
    <div class="isLoading" ng-if="showloading">
      <ion-spinner icon="ios"></ion-spinner>
    </div>
    <div ng-if="!showloading">
      <ul class="timeline cargo_trap">
        <li>
          <div class="timeline-thumb bg-color-blue timeline-point"></div>
          <div class="timeline-item">
            <p>湛江市麻章区已装完货</p>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-blue timeline-point"></div>
          <div class="timeline-item">
            <p>湛江市麻章区已装完货</p>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-blue timeline-point"></div>
          <div class="timeline-item">
            <p>湛江市麻章区已装完货</p>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-blue timeline-point"></div>
          <div class="timeline-item">
            <p>湛江市麻章区已装完货</p>
          </div>
        </li>
      </ul>

    </div>
    <!--<div class="padding">-->
      <!--<button class="button button-block button-positive">搜索货源</button>-->
    <!--</div>-->
  </ion-content>
</ion-view>
