<ion-view view-title="通知中心">

  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right no_read">
        <h2>您收到一条新货源！</h2>
        <p>从湛江市麻章区出发到广州市越秀区</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right">
        <h2>您收到一条新货源！</h2>
        <p>从湛江市麻章区出发到广州市越秀区</p>
        <p>2016-04-21</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
