<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 发布货源 Tab -->
  <ion-tab title="发货源" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus-outline" href="#/menu/tabs/cargo">
    <ion-nav-view name="tab-cargo"></ion-nav-view>
  </ion-tab>

  <!-- 货源记录 Tab -->
  <ion-tab title="全部记录" class="tab-item-active positive" icon-off="ion-ios-stopwatch" icon-on="ion-ios-stopwatch" href="#menu/tabs/order">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>

  <!-- 通知 Tab -->
  <ion-tab title="通知" icon-off="ion-chatbubble-working" badge="2" badge-style="badge-assertive" icon-on="ion-chatbubble-working" href="#menu/tabs/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>


</ion-tabs>
